@use "@angular/material" as mat;

:root {
  @include mat.badge-overrides(
    (
      background-color: #3a4cb3,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: "6px",
      outlined-container-shape: "6px",
    )
  );

  .snack-error {
    @include mat.snack-bar-overrides(
      (
        container-color: red,
        button-color: white,
        supporting-text-color: white,
      )
    );
  }

  .snack-success {
    @include mat.snack-bar-overrides(
      (
        container-color: green,
        button-color: white,
        supporting-text-color: white,
      )
    );
  }
}

header {
  color: black;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-primary {
  color: #7d00fa;
}

.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}
