/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "tailwindcss";

@include mat.core();
$customTheme: mat.define-theme();

.custom-theme {
  @include mat.all-component-themes($customTheme);

  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

:root {
  @include mat.badge-overrides(
    (
      background-color: #3a4cb3,
      disabled-state-background-color: rgba(18, 61, 201, 0.479),
    )
  );
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}
